*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";


}
#mais{display: none;}

body{
  background-color: #171818;
}

.brand img{
  max-width: 100%;
  display: block;
}

section p{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}
section.grid1{ 
  background-color: #171818;
  color: #fff;
  margin-top: 160px;

}

header{
  z-index: 999;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
  transition: 0,5s ease;

}
header .brand{
  top: 0;
  color: #fff;
  max-width: 20vh;
  max-height: 100vh;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation{
  position: relative;
}
header .navigation .navigation-itens a{ 
position: relative;
color: #fff;
font-size: 1em;
font-weight: 500;
text-decoration:none;
margin-left:30px;
transition: 0.3s ease;
}
header .navigation .navigation-itens a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0; 
  transition: 0.3s ease;
}
header .navigation .navigation-itens a:hover:before{
  width: 100%;
}
section{
  padding: 100px 200px;
}



/*imagens do jogo */

.grid1 img{
  height: 300px;
  max-width: 100%;
  display: block;
}

.textot  p{
  font-size: 1.0rem;
  font-family: Arial;
  color: #ffffff;
  background-color: rgb(37, 37, 37);
  text-align: left;
  margin-top: 100px;
margin-left:60px ;
}
.textoj2  p{
  margin-right: 60px;
  font-size: 1.0rem;
  font-family: Arial;
  color: #ffffff;
  background-color: rgb(37, 37, 37);
  text-align: left;
  margin-top: 100px;


}
.textoj3  p{
  font-size: 1.0rem;
  font-family: Arial;
  color: #ffffff;
  background-color: rgb(37, 37, 37);
  text-align: left;
  margin-top: 100px;
margin-left:60px ;
}
.textoj4  p{
  margin-right: 60px;
  font-size: 1.0rem;
  font-family: Arial;
  color: #ffffff;
  background-color: rgb(37, 37, 37);
  text-align: left;
  margin-top: 100px;
}

.grid1 {
  display: grid;
   padding: 30px;
  margin:  auto;
  flex-direction: column;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:"textot jogo"
                      "jogo2 textoj2"
                      "textoj3 jogo3"
                      "jogo4 textoj4" ;
  grid-template-rows: repeat(4, 1fr);
}

#textot{
  grid-area: textot;
 
}

#textoj2 p{
  grid-area: textoj2;
}
#textoj3{
  grid-area: textoj3;
}
#textoj4{
  grid-area: textoj4;
}


#jogo {
  margin-top: 30px;
  grid-area: jogo;


}
#jogo2{
  margin-left: 70px;
  margin-top: 30px;
  grid-area: jogo2;
 
}
#jogo3{
  margin-top: 30px;
  grid-area: jogo3;
 
}
#jogo4{
  margin-left: 70px;
  margin-top: 30px;
  grid-area: jogo4;

}





.grid1::before {

  min-width: 400px;



}




.home{
  position: relative;
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #171818;
}
.home::before{
  z-index: 777;
  margin-top: 50px;
  content: '';
  position: absolute;
  background:rgba(53, 42, 42, 0.3);
  width: 100%;
  height: 100%;
  top:0;
  left: 0;

}
.home .content{
  z-index: 888;
  color:#fff;
  width: 70%;
  margin-top: 50px;
}
.home .content h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}
.home .content h1 span{
  font-size: 1.2em;
  font-weight: 600;
}
.home .content p{
  margin-bottom: 65px;
}
.home .content a{
  background: #fff;
  padding: 15px 35px;
  color: #171818;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}



.home video{
  margin-top: 50px;
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover ;
}
.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px; 
}
.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255,255, 255, 0.5);
  transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
  background: #222;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}
.video-slide{
position: absolute;
width: 100%;
clip-path: circle(0% at 0 50%);

}
.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;


}
@media(max-width:1040px){
  header{
    padding: 12px 20px;
  }
section{
  padding: 100px 20px;
}
.home .media-icons{
  right: 15px;
}
header .navigation{
  display:none ;
}
header .navigation.active{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(1, 1, 1, 0.5);
}


  header .navigation .navigation-itens a{
    color: #222;
    font-size: 1.2em;
    margin: 20px; 

  }
  header .navigation .navigation-itens a:before{
    background: #222;
    height:5px ;
  
  }
  header .navigation.active .navigation-itens{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:5px ;
    box-shadow: o 5px 25px rgb(1, 1, 1/20%);
  }
.menu-btn{
  background: url(i/ForcedRewind.webp)no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}
.menu-btn.active{
  z-index: 999;
  background: url(i/Life-Is-Strange-PNG-Image.png)no-repeat ;
  background-size: 25px;
  background-position: center;
  transition: 0.3s ease;
}
.grid1{
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:"jogo "
                      "textot "
                      "jogo2 "
                      "textoj2"
                      "jogo3 " 
                      "textoj3"
                      "jogo4 " 
                      "textoj4";
}
#jogo {
 margin-left: 5px;
 margin-right: 5px;

  

}
}